<nav  class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

  <div class="container">
    <a class="navbar-brand" routerLink="/cuestionarios"> CuestionaTec</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto ">

        <li class="nav-item" [ngClass]="{'active': rout =='/cuestionarios/contestar'}" >
          <a class="nav-link" routerLink="/cuestionarios/contestar"><i class="fa fa-pencil" aria-hidden="true"></i> Contestar </a>
        </li>
        <li class="nav-item" [ngClass]="{'active': rout =='/miPerfil'}" >
          <a class="nav-link" routerLink="/miPerfil"> <i class="fa fa-user-circle-o" aria-hidden="true"></i> Mi Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/"> <i class="fa fa-sign-out" aria-hidden="true" (click)="logout()"></i> Cerrar Sesión</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="margin">&nbsp;</div>


