
<div  class="container">
  <div class="subtitle table-primary">
    <h3 class="table-primary">Información general</h3>
  </div>

    <p>{{cuestionario.nombre}}</p>
    <p>{{cuestionario.descripcion}}</p>

  <div class="subtitle table-primary">
    <h3>Preguntas</h3>
  </div>

  <div class="myCard card card-4" *ngFor="let pregunta of cuestionario.preguntas; let i = index">
    <div class="card-header" (click)="asignarPregunta(pregunta); AbrirModalEditarPregunta()">
      <div>
        <p><strong>{{i+1}}.</strong> {{pregunta.catalogoPregunta.pregunta}}</p>
      </div>
      <div class="trash" (click)="eliminarPregunta(pregunta.idPregunta)">
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>


    <div class="lasOpciones" *ngIf="pregunta.opciones != null">

      <div class="" *ngIf="pregunta.tipoPregunta.tipo == 'Opcion Multiple' || pregunta.tipoPregunta.tipo == 'Seleccion Multiple' ">

        <div *ngFor="let opcion of pregunta.opciones;" >
          <div  class="opcion">
            <div class="opcionHover" (click)="asignarOpcion(opcion)" data-toggle="modal" data-target="#staticBackdropOpcionEditar">
              <p>{{opcion.catalogoOpcion.opcion}}</p>
            </div>

            <div class="eliminarOpcion">
              <i (click)="eliminarOpcion(opcion.idOpcion, pregunta)" class="fas fa-times"></i>
            </div>
          </div>
        </div>
        <div class="dropdown-divider"></div>
        <div  class="signoMas">
          <i data-toggle="modal" data-target="#staticBackdropOpcion" (click)="asignarPregunta(pregunta)" class="fas fa-plus"></i>
        </div>
      </div>
    </div>

    <div *ngIf="pregunta.opciones == null">
      <input class="form-control" type="text" placeholder="Pregunta abierta" disabled="">
    </div>

  </div>

  <div class="plus">
    <div>
      <a  data-toggle="modal" data-target="#staticBackdrop"><i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i></a>
    </div>

  </div>

</div>

<!-- Modal crear pregunta -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> Creación de pregunta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="nombrePregunta">Pregunta</label>
            <input type="text" class="form-control" id="nombrePregunta"  [(ngModel)]="pregunta.pregunta"  name="nombrePregunta">
          </div>

          <div class="form-group">
            <label for="inputState">Tipo de pregunta</label>
            <select id="inputState" class="form-control" [(ngModel)]="pregunta.tipoPregunta" name="selector">
              <option class="dropdown-item" *ngFor="let tipo of listTipos" [value]="tipo">{{tipo}}</option>
           </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #closeModal type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="agregarPregunta()">Crear</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal editar pregunta -->
<div class="modal fade" id="staticBackdropPreguntaEditar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabelPreguntaEditar"> Edición de pregunta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombrePreguntaEditar">Pregunta</label>
            <input type="text" class="form-control" id="nombrePreguntaEditar"  [(ngModel)]="laPreguntaString" name="nombrePreguntaEditar">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #closeModalPreguntaEditar type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editarPregunta()">Editar</button>
      </div>
    </div>
  </div>
</div>
<button [hidden]="true" id="openModalButton" data-toggle="modal" data-target="#staticBackdropPreguntaEditar" class="fas fa-plus"></button>


<!-- Modal crear opcion -->
<div class="modal fade" id="staticBackdropOpcion" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabelOpcion"> Creación de opción</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombreOpcion">Opción</label>
            <input type="text" class="form-control" id="nombreOpcion"  [(ngModel)]="opcion.opcion"  name="nombreOpcion">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #closeModalOpcion type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="agregarOpcion()">Crear</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal editar opcion -->
<div class="modal fade" id="staticBackdropOpcionEditar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabelOpcionEditar"> Edición de opción</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="nombreOpcionEditar">Opción</label>
            <input type="text" class="form-control" id="nombreOpcionEditar" [(ngModel)]="laOpcionString"   name="nombreOpcionEditar">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button #closeModalOpcionEditar type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editarOpcion()">Editar</button>
      </div>
    </div>
  </div>
</div>
