<form>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingresa el nombre de tu encuesta">
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción</label>
    <input type="textarea" class="form-control" id="descripcion" placeholder="Ingresa tu descripción">
    <small id="descripcionHelp" class="form-text text-muted">Los encuestados podran ver esta descipción.</small>

  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
</form>
