
<form>
  <h2>Información general</h2>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input [(ngModel)]="cuestionario.nombre" type="text" class="form-control" id="nombre" placeholder="Ingresa el nombre de tu encuesta" name="title" required>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción fer</label>
    <input [(ngModel)]="cuestionario.descripcion" type="textarea" class="form-control" id="descripcion" placeholder="Ingresa tu descripción" name="descripcion" required>
    <small id="descripcionHelp" class="form-text text-muted">Los encuestados podran ver esta descipción.</small>
  </div>

  <h2>Preguntas</h2>
  <div class="plus">
    <a  data-toggle="modal" data-target="#staticBackdrop"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>
  </div>

  <br><br><br>
  <button type="submit" class="btn btn-primary" (click)="guardarCambios()">Guardar</button>
</form>




<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> Creación de pregunta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="nombrePregunta">Pregunta</label>
            <input type="text" class="form-control" id="nombrePregunta"  [(ngModel)]="cuestionario.nombre"  name="nombrePregunta">
          </div>

          <div class="form-group ">
            <label for="inputState">Tipo de pregunta</label>
            <select id="inputState" class="form-control">
              <option selected>Escoge...</option>
              <option value="1">Abierta --- El usuario escribe la respuesta</option>
              <option value="2">Opción Multiple --- El usuario selecciona una respuesta</option>
              <option value="3">Selección Multiple --- El usuario selecciona una o mas respuestas</option>
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button #closeModal type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="agregarPregunta()">Crear</button>
      </div>
    </div>
  </div>
</div>
