<form class="formulario">
  <h2>Información general</h2>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input [(ngModel)]="cuestionario.nombre" type="text" class="form-control" id="nombre"
      placeholder="Ingresa el nombre de tu encuesta" name="title" required>
  </div>
  <div class="form-group">
    <label for="descripcion">Descripción cuestionario</label>
    <textarea [(ngModel)]="cuestionario.descripcion" class="form-control" id="descripcion" rows="3"
      name="descripcion"></textarea>
  </div>

  <h2>Preguntas</h2>

  <div class="myCard card card-4" *ngFor="let pregunta of cuestionario.preguntas; let i = index">

    <p>{{i+1}}. {{pregunta.catalogoPregunta.pregunta}}</p>
    <div *ngIf="pregunta.opciones != null">

      <div *ngIf="pregunta.tipoPregunta.tipo == 'Seleccion Multiple'">
      <div *ngFor="let opcion of pregunta.opciones;" (click)="localSelectedSeleccion(opcion)">
        <p class="opcion" *ngIf="opcion.localSelected == false">{{opcion.catalogoOpcion.opcion}}</p>
        <p class="opcion-Selected" *ngIf="opcion.localSelected == true">{{opcion.catalogoOpcion.opcion}}</p>
      </div>
      </div>

      <div *ngIf="pregunta.tipoPregunta.tipo == 'Opcion Multiple'">
      <div *ngFor="let opcion of pregunta.opciones;" (click)="localSelectedOpcion(pregunta, opcion)">
        <p class="opcion" *ngIf="opcion.localSelected == false">{{opcion.catalogoOpcion.opcion}}</p>
        <p class="opcion-Selected" *ngIf="opcion.localSelected == true">{{opcion.catalogoOpcion.opcion}}</p>
      </div>
      </div>

    </div>

    <div *ngIf="pregunta.opciones == null">
      <input class="form-control" type="text" placeholder="Escribe tu respuesta">

    </div>

  </div>

</form>