<div>
    <form class="container ">
      <h1>Registro</h1>
      <p>Llena el formulario para finalizar el registro.</p>
      <hr>
  
      <div *ngIf="wrongData">
        <p style="color:red">Favor de llenar los campos faltantes. </p>
      </div>
      
      <div class="row">
        <div class="col">
          <label for="nombre"><b>Nombre</b></label>
          <input [(ngModel)]="usuario.nombre" id="nombre"  type="text" class="form-control" placeholder="Ingresar nombre" required>
        </div>
        <div class="col">
          <label for="lname"><b>Apellidos</b></label>
          <input [(ngModel)]="usuario.apellido" id="lname" type="text" placeholder="Ingresar apellidos" class="form-control" required>    
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="user"><b>Usuario</b></label>
          <input [(ngModel)]="usuario.usuario" id="user" type="text" placeholder="Ingresar usuario" class="form-control" required>
          <div *ngIf="userExists">
            <p style="color:red">El usuario ya existe. Ingresa uno diferente. </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label for="psw"><b>Contraseña</b></label>
          <input [(ngModel)]="usuario.contrasena" type="password" id="psw" placeholder="Ingresar contraseña" class="form-control" required>
        </div>
        <div class="col">
          <label for="psw-repeat"><b>Contraseña</b></label>
          <input [(ngModel)]="usuario.contrasena2" id="psw-repeat" type="password" placeholder="Ingresar contraseña nuevamente" class="form-control" required>
          <div *ngIf="wrongP">
            <p style="color:red">Las contraseñas no coinciden. </p>
          </div>
        </div>
      </div>

  <div class="row">
    <div class="col">
      <label for="birthday">Fecha de nacimiento:</label>
      <input [(ngModel)]="usuario.localFechaNacimiento" id="birthday" type="date" id="birthday" class="form-control" style="width: 100%;">    
    </div>
    <div class="col form-group">
      <label for="gender">Género:</label>
      <select [(ngModel)]="usuario.genero" name="genero" class="form-control" style="margin-top: 5px;">
        <option value="1">Femenino</option>
        <option value="0">Masculino</option>
      </select>
    </div>
  </div>

      <hr>
  
      <button type="submit" class="registerbtn" (click)="registrarUsuario()" >Registrar</button>
    </form>
  
    <div class="signIn">
      <p>Ya tienes una cuenta? <a href="/index">Iniciar Sesión</a>.</p>
    </div>
  </div>

  <!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Usuario registrado correctamente!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" (click)="logIn()" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>