
<div class="background"></div>

  <div class="col-md-12 bienvenida">
    <h3>{{usuario.genero == 1? 'Bienvenida':  'Bienvenido'}} {{usuario.nombre}} {{usuario.apellido}}</h3>
  </div>

  <div class="centerFlex">
    <div class="myCard card card-4">
        <div class="card-header">
          <div class="MisEncuestas">
            <p >Mis encuestas </p>
          </div>

           <div class="d-flex justify-content-end">
            <div class="md-form m-1 input-right">
              <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput/>
              <label for="search">Buscar</label>
            </div>
          </div>

          <button class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
            Crear Cuestionario
          </button>
        </div>
        <table mdbTable #tableEl="mdbTable" class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cuestinario</th>
              <th scope="col">Descripcion</th>
              <th scope="col">editar</th>
              <th scope="col">reporte</th>
              <th scope="col">elim</th>
            </tr>
          </thead>
          <tbody  *ngFor="let cuestionario of cuestionarios; let i = index">
            <tr>
              <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{i+1}}</th>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" > {{cuestionario.nombre}}</td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >{{cuestionario.descripcion | limitTo: limite}} </td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >
                <a  (click)="editarCuestionario(cuestionario.idCuestionario)" class="btn btn-info btn-block">
                  <i class="fas fa-edit blanco"></i>
                </a>
              </td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >
                <a (click)="resultadosCuestionario(cuestionario.idCuestionario)" class="btn btn-info btn-block">
                    <i class="fas fa-chart-pie blanco"></i>
                </a>
              </td>
              <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" >
                <button class="btn btn-danger" (click)="deleteCuestionario(cuestionario.idCuestionario)">
                  <i class="far fa-trash-alt blanco"></i>
                </button>
              </td>
            </tr>

          </tbody>

        </table>
        
        <div class="card-footer">
          <div class="paginacion">
            <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
          </div>
        </div>

    </div>
  </div>



  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> Creación </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="nombreEncuesta">Nombre</label>
            <input type="text" class="form-control" id="nombreEncuesta"  [(ngModel)]="cuestionario.nombre"  name="nombreEncuesta">
          </div>

          <div class="form-group">
            <label for="descripcionEncuesta">Descripción </label>
            <textarea class="form-control" id="descripcionEncuesta" rows="3" [(ngModel)]="cuestionario.descripcion" name="descripcionEncuesta"></textarea>
            <small id="descripcionHelp" class="form-text text-muted">Esta información será visible para los usuarios que contestaran tu encuesta.</small>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button #closeModal type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="crearCuestionario()">Crear</button>
      </div>
    </div>
  </div>
</div>
