
<div class="background"></div>

  <div class="col-md-12 bienvenida">
    <h3>{{usuario.genero == 1? 'Bienvenida':  'Bienvenido'}} {{usuario.nombre}} {{usuario.apellido}}</h3>
  </div>

  <div class="centerFlex">
    <div class="myCard card card-4">
        <div class="card-header">
          <div class="MisEncuestas">
            <p >Mis encuestas </p>
          </div>
           <button class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
             Crear Cuestionario
           </button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Cuestinario</th>
              <th scope="col">Descripcion</th>
              <th scope="col">editar</th>
              <th scope="col">reporte</th>
              <th scope="col">elim</th>
            </tr>
          </thead>
          <tbody  *ngFor="let cuestionario of cuestionarios; let i = index">
            <tr>
              <th scope="row">{{i+1}}</th>
              <td> {{cuestionario.nombre}}</td>
              <td>{{cuestionario.descripcion}}</td>
              <td>
                <a routerLink="/cuestionarios" class="btn btn-info btn-block">
                  <i class="fas fa-edit"></i>
                </a>
              </td>
              <td>
                <a routerLink="/cuestionarios" class="btn btn-info btn-block">
                    <i class="fas fa-chart-pie"></i>
                </a>
              </td>
              <td>
                <button class="btn btn-danger" (click)="deleteCuestionario(cuestionario.idEncuesta)">
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </tr>

          </tbody>
        </table>

    </div>
  </div>



  <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"> Creación </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label for="nombreEncuesta">Nombre</label>
            <input type="text" class="form-control" id="nombreEncuesta"  [(ngModel)]="cuestionario.nombre"  name="nombreEncuesta">
          </div>

          <div class="form-group">
            <label for="descripcionEncuesta">Descripción </label>
            <textarea class="form-control" id="descripcionEncuesta" rows="3" [(ngModel)]="cuestionario.descripcion" name="descripcionEncuesta"></textarea>
            <small id="descripcionHelp" class="form-text text-muted">Esta información será visible para los usuarios que contestaran tu encuesta.</small>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button #closeModal type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="crearCuestionario()">Crear</button>
      </div>
    </div>
  </div>
</div>
