.opcion{
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.card-header, .trash{
  display: flex;
  justify-content: space-between;
}
/*
.card-header:hover{
  background-color: pink;
}*/
.table-primary{
  text-align: center;
  margin-top: 15px;
}
.lasOpciones{
  width: 50%;
}
.subtitle{
  padding-top: 4px;
  padding-bottom: 4px;
}
.card-4, .subtitle{
  margin-bottom: 15px;
}
.card-header{
  height: 50px;
}
.plus{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.signoMas{
  margin-bottom: 5px;
  margin-left: 20px;
}
.opcionHover{
  width: 95%;
  padding-left: 15px;
}
.opcionHover:hover{
  background-color:#b2b2b2;
}
.eliminarOpcion i:hover, .trash i:hover{
  color: #771717;
}
.signoMas i:hover{
  color: black;
}
.opcionHover p{
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}
.eliminarOpcion i{
  margin: auto;
  padding-top: 9px;
  padding-bottom: 5px;
}
.trash{
  width: 40px;
  justify-content: center;
}
