
<div  *ngIf="editando; else noEditando">
<form  name="myform">

  <div class="form-group">
    <input  [(ngModel)]="usuario.nombre" value='valor' type="text" ngModel="nombre" class="form-control" id="nombre" placeholder="Nombre" name="nombre" required>
  </div>


  <div class="form-group">
    <input [(ngModel)]="usuario.apellido" type="text" ngModel="nombre" class="form-control" id="apellido" placeholder="Apellido" name="apellido" required>
  </div>

  <div class="form-group">
    <input [(ngModel)]="usuario.usuario" type="text" ngModel="nombre" class="form-control" id="usuario" placeholder="Usuario" name="usuario" required>
  </div>

  <!--
  <div class="form-group">
    <input  [(ngModel)]="us['contrasena']" type="password" class="form-control" id="usuario" placeholder="Nombre de usuario" name="usuario" required>
  </div>
  -->

  <div class="form-group">
    <input   type="date" [valueAsDate]="nacimiento" class="form-control" id="nacimiento" placeholder="Fecha de nacimiento" name="nacimiento" required>
  </div>

  <div class="form-group">
    <select id="inputState" class="form-control">
      <option value="" selected disabled> Género</option>
      <option value="0">Hombre</option>
      <option value="1">Mujer</option>
    </select>
  </div>

  <div class="botones col-md-4">
    <button type="submit" class="btn btn-primary" (click)="saveChanges()">Guardar</button>
  </div>
</form>
</div>

<ng-template  #noEditando>
<form name="myform">

  <div class="form-group">
    <input  disabled="" [(ngModel)]="usuario.nombre" type="text" ngModel="usuario.nombre" class="form-control" id="editandoNombre" placeholder="Nombre" name="nombre" required>

  </div>


  <div class="form-group">
    <input  disabled="" [(ngModel)]="usuario.apellido" type="text" ngModel="nombre" class="form-control" id="editandoApellido" placeholder="Apellido" name="apellido" required>
  </div>

  <div class="form-group">
    <input  disabled="" [(ngModel)]="usuario.usuario" type="text" ngModel="usuario" class="form-control" id="editandoUsuario" placeholder="usuario" name="usuario" required>
  </div>

  <div class="form-group">
    <input  disabled="" [(ngModel)]="datestring" type="text" class="form-control" id="editandoNacimiento" placeholder="Fecha de nacimiento" name="nacimiento" required>
  </div>


  <div  >
    <input  disabled=""  value="{{usuario.genero == 1? 'Mujer':  'Hombre'}}" type="text" class="form-control" id="Mujer" placeholder="Género" name="nacimiento" required>
  </div>
  <br><br>
  <div class="botones col-md-4" >
    <button type="submit" class="btn btn-primary" (click)="editar(true)">Editar</button>
  </div>

</form>
</ng-template>
