
<div>
  <img src="https://images.unsplash.com/photo-1529539795054-3c162aab037a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80s"
       alt="image of a laptop">
</div>

<div *ngIf="enterWrongUserData">
  <p style="color:red">El usuario y/o contraseña son incorrectos</p>
</div>
<form name="myform">
  <div class="form-group">
    <label for="nombre">Usuario</label>
    <input [(ngModel)]="usuario.usuario" type="text" ngModel="nombre" class="form-control" id="nombre" placeholder="Ingresa tu nombre de usuario" name="nombre" required>
  </div>
  <div class="form-group">
    <label for="contrasena">Contraseña</label>
    <input  [(ngModel)]="usuario.contrasena" type="password" class="form-control" id="contrasena" placeholder="Ingresa tu contraseña" name="contrasena" required>
    <small id="contrasenaHelp" class="form-text text-muted"><a href="">Olvidaste tu contraseña?</a></small>
  </div>
  <div class="botones col-md-4">
    <button type="submit" class="btn btn-primary" (click)="iniciarSesion()">Iniciar Sesión</button>
    <a royerLink="/registro"><button type="button" class="btn btn-secondary"  >Únete ahora</button></a>
  </div>
</form>
