<div class="formulario">
  <h2>{{cuestionario.nombre}}</h2>
  <p class="" style="font-size: large;">{{cuestionario.descripcion}}</p>

  <div class="myCard card card-4 mt-2" *ngFor="let pregunta of cuestionario.preguntas; let i = index">

    <p>{{i+1}}. {{pregunta.catalogoPregunta.pregunta}}</p>
    <div *ngIf="pregunta.opciones != null">

      <div *ngFor="let opcion of pregunta.opciones;" (click)="localSelected(pregunta, opcion)">
        <p class="opcion" *ngIf="opcion.localSelected == false">{{opcion.catalogoOpcion.opcion}}</p>
        <p class="opcion-Selected" *ngIf="opcion.localSelected == true">{{opcion.catalogoOpcion.opcion}}</p>
      </div>

    </div>

    <div *ngIf="pregunta.opciones == null">
      <input [(ngModel)]="pregunta.localRespuestaAbierta.respuesta" class="form-control" type="text"  placeholder="Escribe tu respuesta">
    </div>


  </div>

    <button (click)="guardarCuestionario()" type="button" class="enviarEncuesta btn btn-info mt-5">Enviar encuesta</button>

</div>
