.opcion {
    background-color: white;
    padding: 5px;
}

.opcion:hover {
    background-color: #5ccccc;
    padding: 5px;

}

.opcion-Selected {
    background-color: #5ccccc;
    padding: 5px;
}

.formulario {
  margin-top: 50px;
margin-left: 100px;
margin-right: 100px;

}


.enviarEncuesta{
    margin-left:1200px;
}


